body{
    margin: 0;
}
.top-container{
    background-color: #fff;
    padding: 20px 100px;
    padding-bottom: 0px;
}
.logo{
    height: 5rem;
    padding-right: 20px;
}

.start-India{
    float:right;
    height: 6rem;
}

.middle-container{
    padding: 20px 100px;
}
.sub-heading-1{
    color: #00CC66;
    font-size: 2.5rem;
    font-weight: lighter;
    font-family: 'Montserrat-Dark', sans-serif;
    margin: 0;
}
.main-heading{
    color: #330066;
    font-size: 5rem;
    margin: 0;
    font-family: 'Montserrat-Dark', sans-serif;
    opacity: 1;
    padding-bottom: 5px;
}
.btn {
    background: #330066;
    background-image: -webkit-linear-gradient(top, #330066, #330066);
    background-image: -moz-linear-gradient(top, #330066, #330066);
    background-image: -ms-linear-gradient(top, #330066, #330066);
    background-image: -o-linear-gradient(top, #330066, #330066);
    background-image: -webkit-gradient(to bottom, #330066, #330066);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 1.5rem;
    font-weight: 100;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #337FED 1px;
    background: #330066;
    background-image: -webkit-linear-gradient(top, #330066, #3D94F6);
    background-image: -moz-linear-gradient(top, #330066, #3D94F6);
    background-image: -ms-linear-gradient(top, #330066, #3D94F6);
    background-image: -o-linear-gradient(top, #330066, #3D94F6);
    background-image: -webkit-gradient(to bottom, #330066, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

.sub-heading-2{
    color: green;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 10px;
    margin: 0;
}

.icons{
    padding-right: 20px;
    padding-bottom: 20px;
    grid-template-columns: 5px;
}
.icon-img{
    background-color: #fff;
    height: 7rem;
}
.icon-heading{
    font-family: 'Montserrat-Light';
    font-size: 1rem;
    font-weight: bold;
    color:#330066;
    text-transform: uppercase;
}
.grid-container{
    padding: 5px 100px;
}
.grid-container > div{
    grid-column-gap: 5px;
}
.bottom-heading{
    color:#330066;
    font-family: "Montserrat-Dark";
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
    padding: 0px;
}

.footer-info{
    padding: 0px;
}
.flctd-logo{
    height: 7rem;
    vertical-align: top;
}
.sangam_logo{
    height: 7rem;
    vertical-align: top;
    padding: 0px;
}
.Sangam{
    color: #023020;
}
.sangam-info{
    color: #20b2aa;
    font-weight: bold;
}

@media(max-width: 992px){
    body{
        text-align: center;
    }
    .sub-heading-2{
        padding-bottom: 20px;
    }
    .icons{
        width: 30%;
        float: right;
    }
    .sangam_logo{
        padding-left: 150px;
    }
}
@media(max-width: 752px){
    .top-container{
        padding-left: 0px;
        padding-right: 0px;
    }
    .icons{
        width: 100%;
    }
   
}
